<html>

<head>
    <meta charset="utf-8">
    <title>Popup</title>
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/common/vue-components.css">
</head>

<body>
    <div id='topTitleBar'>
        <img id='bigLogo' src='images/white.svg' />
        <h1>
            YouTube
            <span class='trademarkSymbol'></span> Refined
        </h1>
    </div>
    <div id='mainBody'>
        <h2 style="margin-top: 0;">General Settings</h2>
        <div class='newLine'>
            <pretty-checkbox v-model='options.adBlock' v-on:input='saveData'>
                Block all ads on Youtube&nbsp;<b>Changing will reload all youtube tabs!</b>
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.hideComments' v-on:input='saveData'>
                Hide the comments section
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            Ratings preview (video likes/dislikes):
            <pretty-dropdown v-model='options.ratingsPreviewMode' v-on:input='saveData' data='{"None": 0, "Colored Box": 1, "Modern Bar": 2, "Colored Bar": 3}'/>
        </div>
        <div class='newLine'>
            Youtube Theme:
            <pretty-dropdown v-model='options.youtubeTheme' v-on:input='saveData' data='{"Default White": "", "Vader Dark": "dark"}'/><!--"Sunset Fade": "fade"-->
        </div>
        <h2>Video Views Settings</h2>
        <div class='newLine'>
            <pretty-checkbox v-model='options.replaceRFYTextWithViewCount' v-on:input='saveData'>
                Replace "Recommended for you" text with view count
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.exactVideoViewCount' v-on:input='saveData'>
                Show exact video view count (2.4M views -> 2,424,234 views)
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.showVideoAge' v-on:input='saveData'>
                Show age of video next to view count
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.exactLikeDislikeCount' v-on:input='saveData'>
                Show exact like/dislike count under videos (21K likes -> 21,345 likes)
            </pretty-checkbox>
        </div>
        <h2>Title Autocorrection Settings</h2>
        <div class='newLine'>
            Capitalization:
            <pretty-dropdown v-model='options.censoredTitle.capitalization' v-on:input='saveData' data='{"Do Nothing": 0, "Titlecase": 1, "Uppercase": 2}'/>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.censoredTitle.removeEmoji' v-on:input='saveData'>
                Remove emoji and similar characters
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.censoredTitle.removeRepeatingNonLetterChars' v-on:input='saveData'>
                Singularize repeating non-letter characters
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.censoredTitle.removeShortTextContainedWithinElipses' v-on:input='saveData'>
                Remove short(and usually trivial) text contained within elipses
            </pretty-checkbox>
        </div>
        <div class='newLine'>
            <pretty-checkbox v-model='options.censoredTitle.removeHashtags' v-on:input='saveData'>
                Smart remove hashtags
            </pretty-checkbox>
        </div>
        <div class='newLine'>Example:</div>
        <div class='centered newLine'>
            <h3>{{exampleTitleToAutocorrect}}</h3>
            <div class='arrow-down'></div>
            <h3>{{exampleCorrectedTitle()}}</h3>
        </div>
        <br>
        <h2>Upcoming Features</h2>
        <div class='centered newLine' style="margin-bottom: 0;">
            <h3>Many new features coming soon, including channel blocking, filter lists, thumbnail bluring and so much more!</h3>
        </div>
    </div>
    <div id='bottomBar'>
        <h3>
            &copy; 2017 Marc Guiselin
        </h3>
        <a id="donateLink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=3ZXHF95T8753C&amp;lc=US&amp;item_name=Youtube%20Refined&amp;no_note=1&amp;no_shipping=1&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"
            target="blank_">
            <h3>&#9749; Buy the dev a drink :)</h3>
        </a>
    </div>

    <script type='text/javascript' src='scripts/third party/vue.min.js'></script>

    <script type='text/javascript' src='scripts/common/vue-components.js'></script>
    <script type='text/javascript' src='scripts/common/title-caps.js'></script>

    <script type='text/javascript' src='scripts/popup.js'></script>
</body>

</html>