<html>
<head>
    <meta charset="utf-8">
    <title>Popup</title>
    <link rel="stylesheet" href="css/update-notification.css">
    <link rel="stylesheet" href="css/common/vue-components.css">
    <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body>
    <div id="all">
        <div id="topTitleBar" v-if="firstShow"> Successfully installed </div>
        <div id="topTitleBar" v-else> Youtube Refined just updated :) </div>

        <div id="closePage" v-on:click="exit"></div>

        <div id="body">
            <template v-if="firstShow">
                <h3 class="centerParagraph">Hey, &#x1F44B; this is Marc, the programmer &#x1F468;&#x200D;&#x1F4BB; behind Youtube Refined, and I just wanted to thank you for installing my extension!</h3>
                <h3 class="centerParagraph">To get started, click on the <img src="icons/38.png"/> icon in the upper right corner of chrome:</h3>
                <img id="howToGif" src="https://i.imgur.com/3fUZE40.gif"/>
                <h3 class="center">Help spread the word: </h3>
                <h5 class="center">
                    <a href="/options.html#share" target="_blank">
                        <pretty-button>Share on Facebook</pretty-button><pretty-button>Tweet</pretty-button><pretty-button>Leave a Review</pretty-button>
                    </a>
                </h5>
            </template>
            <template v-else>
                <h1 class="center">What's New</h1>
                <ul id="updates" class="centerParagraph">
                    <li v-for="update in updates">
                        <h3 class="icon">{{update[0]}}</h3>
                        <div class="changes">
                            <h3>{{update[1]}}</h3>
                            <h5 v-for="t in update.slice(2)">{{t}}</h5>
                        </div>
                    </li>
                    <li v-if="bugsFixed">
                        <h3 class="icon">&#128295;</h3>
                        <div class="changes">
                            <h3>Over {{bugsFixed}} bugfixes/small improvements</h3>
                            <h5 v-if="thanks">Thanks {{thanks}} for reporting some issues.</h5>
                        </div>
                    </li>
                </ul>
                <div id="scroll-down" :class="{fade: noShowScrollDown}" @click="scrollDownClick"></div>
                <h1 class="center">Get Additional Features</h1>
                <h3 class="centerParagraph"><a href="/options.html#donate" target="_blank">Donate</a> or <a href="/options.html#share" target="_blank">share</a> to support development &#x1F468;&#x200D;&#x1F4BB; and unlock extra themes, hidden options, and expanded statistics.</h3>
                <h4 class="center">
                    <pretty-checkbox v-model="options.notifications.showUpdate" v-bind:disabled="!options.promo.proUnlocked" v-on:input="saveData">
                        Show update notifications&nbsp;<a v-if="!options.promo.proUnlocked" href="/options.html#donate" target="_blank"><b>Change by Donating</b></a>
                    </pretty-checkbox>
                </h4>
                <h4 class="center">
                    <pretty-button v-on:click="exit" v-on:click="gevent('Exit Click')">Ok, thanks for letting me know</pretty-button>
                </h4>
            </template>
        </div>
    </div>

    <script type="text/javascript" src="scripts/third party/vue.min.js"></script>
    <script type="text/javascript" src="scripts/common/vue-components.js"></script>
    <script type="text/javascript" src="scripts/common/update-notes.js"></script>

    <script type="text/javascript" src="scripts/update-notification.js"></script>
</body>
</html>