/* hide time ago that shows on some videos since the extension will take care of it any way */

#metadata-line.ytd-grid-video-renderer>.ytd-grid-video-renderer:not(:last-of-type):after,
#metadata-line.ytd-video-meta-block>.ytd-video-meta-block:not(:last-of-type):after {
    content: none !important;
    margin: 0 !important;
}

#metadata-line.ytd-grid-video-renderer>.ytd-grid-video-renderer:last-of-type,
#metadata-line.ytd-video-meta-block>.ytd-video-meta-block:last-of-type {
    display: none;
}



/* adblocking hide ads */

/* hide ad next to video */
html.ytrAdblock ytd-player-legacy-desktop-watch-ads-renderer, #google_ads_frame1
/* video ad renderer over video */
html.ytrAdblock .video-ads, html.ytrAdblock .ad-container,
/* yellow bars that mark position of ad in video*/
html.ytrAdblock .ytp-ad-progress-list,
/* sponsored shop for bar under video */
html.ytrAdblock #pla-shelf,
/* promoted video suggestions */
html.ytrAdblock ytd-compact-promoted-video-renderer,
/* hide video ad on the top of the homepage */
html.ytrAdblock #masthead-ad{
    display: none !important;
    visibility: hidden !important;
}



/* hide comments section */

/* actually hide comments */
html.ytrHideComments #comments,
/* hide show more/show less buttons */
html.ytrHideComments ytd-watch #meta #more,
html.ytrHideComments ytd-watch #meta #less{
    display: none !important;
}

/* hide line below description*/
html.ytrHideComments ytd-watch #meta ytd-video-secondary-info-renderer{
    border-bottom: none;
}

/* force expand description */
html.ytrHideComments ytd-watch #meta ytd-expander > #content.ytd-expander {
    overflow: visible !important;
    max-height: none !important;
}



/* ratings previewer */

.ytr-ratings-previewer{
    display: none;
}
/* mode 1 */
html.ytr-ratings-preview-mode-1 .ytr-ratings-previewer[ranking]{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
    background: black;
    opacity: .8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    align-items: center;
    color: white;
}
html.ytr-ratings-preview-mode-1 .ytr-ratings-previewer[ranking='0']{
    opacity: 1;
    background: #b31d1d !important;
}
html.ytr-ratings-preview-mode-1 .ytr-ratings-previewer[ranking='1']{
    opacity: 1;
    background: #b39a1d !important;
}
html.ytr-ratings-preview-mode-1 .ytr-ratings-previewer[ranking='2']{
    opacity: 1;
    background: #2ab31d !important;
}

/* mode 2-3 */
html.ytr-ratings-preview-mode-2 .ytr-ratings-previewer,
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer{
    display: block;
    height: 4px;
    width: 100%;
    background: #cccccc;
    z-index: 10;
    top: 0;
    position: absolute;
    border-bottom: 1px solid white;
}
html.ytr-ratings-preview-mode-2 .ytr-ratings-previewer>div,
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer>div{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: .5s width;
    background: #2693e6;
    color: transparent;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    white-space: nowrap;
}
html.ytr-ratings-preview-mode-2 .ytr-ratings-previewer>div::before,
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer>div::before{
    content: ' ';
}
html.ytr-ratings-preview-mode-2 ytd-thumbnail:hover .ytr-ratings-previewer>div,
html.ytr-ratings-preview-mode-3 ytd-thumbnail:hover .ytr-ratings-previewer>div{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0px black, -1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black;
}
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer[ranking='0']>div{
    background: #b31d1d !important;
}
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer[ranking='1']>div{
    background: #b39a1d !important;
}
html.ytr-ratings-preview-mode-3 .ytr-ratings-previewer[ranking='2']>div{
    background: #2ab31d !important;
}



/* show entire youtube video title
#video-title{
    max-height: fit-content !important;
}
*/